#root {
  margin: 0;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

.chat-container{
  height:100%;
  width:100%;
  background-color:rgb(76,53,117,100);
  display: flex;
  flex-direction: column;
}

.chat-container h3{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55,27,88,100);
  color: rgb(255,255,255,5);
  font-size: 25px;
  padding: 10px;
}

.chat-container .message-zone{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  overflow-y: scroll;
}

.chat-container ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.message-zone li{
  list-style-type: none;
}

.message-zone li span{
  width: max-content;
  padding: 5px 10px;
  background-color: blue;
  border-radius: 5px;
  overflow: hidden;
  color: rgb(255,255,255,5);
}

.message-zone ul{
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.chat-container .inputs{
  height: 50px;
}

.message-bar{
  width: 100%;
  height: 30px;
  margin: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.message-button{
  font-size: 20px;
  width: 150px;
  margin: 5px 5px 5px 0;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  color: white;
  background-color: rgb(120,88,166,100);
  transition: all 0.2 ease-in-out;
  font-family: FontAwesome;
}

.message-button:hover{
  background-color: rgb(91,75,138,100);
}


.friend-list-container{
  background-color: rgb(55,27,88,100);
  height: 100%;
  width: 300px;
  overflow-y: scroll;
}

.friend-list-container h2{
  color: rgb(255,255,255,5);
  font-weight: 900;
  border-bottom: 2px solid rgb(91,75,138,100);
  padding: 10px;
}

.friend-list-container a{
  text-decoration: none;
  text-align: start;
  color: rgb(255,255,255,5);
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(91,75,138,100);
  transition: all 0.2s ease-in-out;
}

.friend-list-container a:hover{
  background-color: rgb(76,53,117,100);
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
  padding: 10px;
  color: black;
}

.texte-uuid {
    color: white;
    margin-top: 10px;
}

.friend-requests-container{
    height:100%;
    width:100%;
    background-color:rgb(76,53,117,100);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-requests-container h3{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55,27,88,100);
    color: rgb(255,255,255,5);
    font-size: 25px;
    padding: 10px;
    width: 100%;
}